<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
    <body>
    <div class="container">
        <h2>Login</h2>
        <form class="form" action="{{ url_for('login') }}" method = "POST">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for messsage in messages %}
                        <h3>{{messsage}}</h3>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <input type="email" name="email" placeholder="Email Address">
            <p>{{messsage}}</p>
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Login">
        </form>
            <a href="/password">Forgot password?</a><br>
            <p>Don't have an account? <a href="/register">Register</a>
            <p class="error-message">{{ error_message }}</p>
    </div>
    </body>
</html>