<!DOCTYPE html>
<html lang="en">
<head>
    <title>Get Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Update Password</h1>
        <form class="form" action="{{ url_for('password') }}" method = "POST">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for messsage in messages %}
                        <h3>{{messsage}}</h3>
                    {% endfor %}
            {% endif %}
            {% endwith %}
            <input type="text" name="name" placeholder="Enter your name" pattern="[A-Za-z\s]+" title="Name should contain only letters and spaces" required>
            <input type="email" name="email" placeholder="Email Address" required>
            <input type="password" name="password" placeholder="create password" pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[@#$%^&+=]).{8,}$" title="Password must contain at least 8 characters, including uppercase, lowercase, number, and special character" required>
            <input type="password" name="confirm_password" placeholder="confirm password" required>
            <input type="submit" value="Save"><br>
        </form>
    </div>
</body>
</html>